*{
    margin: 0
}
.nav-link{
    border-radius: 10px;
    color: black;
    font-size: 22px;
}
.nav-link:hover{
    background: rgb(186, 186, 186);
    color: white;
    transition: 1s;
}
.carousel-item{
    height: 90vh;
}
.d-block{
    height: 100%;
    width: 100%;
}
.imagem{
    width: 8vh;
}
.icone{
    width: 25px;
}
.icone-f{
    width: 45px;
}
a{
    font-style: none;
    list-style: none;
    color: transparent;
}
